.array-container {
  position: relative;
  margin: auto;
  /* left: 100px; */
  /* top: 100px; */
  width: 80%;
  padding: 10px;
}

.array-bar {
  display: inline-block;
  margin: 0 1px;
}

.sort-btn {
  visibility: visible;
}
